.tu-musica .wrapper-content{
    padding: 30px 60px;
}

.tu-musica .wrapper-content:before{
    position: absolute;
    content: " ";
    background: #fff url('./assets/icon-diseno.jpg') no-repeat center center;
    top: -2px;
    left: -109px;
    width: 107px;
    height: 107px;
    border: 2px solid #dcdcdd;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.diseno .container-images{
    margin-bottom: 30px;
}

.diseno .container-images img.first{
    display: block;
}

.diseno .container-images img{
    display: none;
}

.diseno .colors-selector dl{
    display: inline-block;
    cursor: pointer;
}

.diseno .colors-selector dl.bg-container{
    border-right: 2px solid #ccc;
    margin-right: 20px;
    padding-right: 20px;
}

.diseno .colors-selector dt{
    font-weight: bold;
    margin-bottom: 4px;
}

.diseno .colors-selector dd{
    display: inline-block;
}

.diseno .colors-selector dd a{
    display: block;
    overflow: hidden;
    text-indent: -100px;
    width: 27px;
    height: 27px;
    border: 2px solid #eee;
}

.diseno .colors-selector dd a:hover,
.diseno .colors-selector dd a.selected{
    border-color: #ccc;
}

.diseno .content .actions{
    margin-top: 20px;
    text-align: right;
}

.diseno .content .actions input[type="submit"] {
    width: 86px;
    height: 30px;
    color: #fff;
    border: none;
    background: #bebfc4;
    cursor: pointer;
    font-size: 12px;
}

.diseno .content .actions input[type="submit"]:hover {
    background: #ff7400;
}