/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	background: transparent url('assets/sp-checkbox.jpg') left top no-repeat;
	display:inline-block;
    width: 24px;
    height: 21px;
    margin-right: 5px;
}

.ez-checkbox.ez-checked {
    background: transparent url('assets/sp-checkbox.jpg') left bottom no-repeat;
}

/*.ez-radio {
	background: transparent url('../images/radio-black.png') 0 1px no-repeat;
	display:inline-block;
}*/
