/* html5doctor.com Reset Stylesheet v1.6.1 || http://html5doctor.com/html-5-reset-stylesheet/ */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1;font-family:"din-regular";font-weight:normal}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle;resize:none;outline:0}li{list-style:none}strong{font-weight:bold}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}.DN{display:none}.left{float:left}.right{float:right}h2{text-transform:uppercase}


/* CLEARFIX */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}


/* HELPERS */
.DN{display:none;}
.left{float: left;}
.right{float: right;}
.title-outline{
    position: absolute;
    visibility: hidden;
}


/* GENERALS */
body{
    background: #f3f3f4;
    margin-top: 50px;
}

.wrapper-principal{
    width: 900px;
    margin: 0 auto;
}

/* HEADER */
header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: #5b5b5f;
}

header h1{
    margin-top: 5px;
    float: left;
}

header h1,
header h1 a{
    width: 145px;
    height: 34px;
    display: block;
    overflow: hidden;
}

header h1 a{
    background: url("./assets/logo.png") no-repeat top left;
    text-indent: -300px;
}

header nav{
    float: right;
}

header nav ul{
    line-height: 50px;
}

header nav li{
    display: inline-block;
    margin-left: 20px;
}

header nav li,
header nav li a{
    font-size: 20px;
    color: #fff;
}

header nav li img.profile{
    border-radius: 50%;
    vertical-align: middle;
}

header nav li .submenu{
    display: none;
}


