.tu-musica .content{
    padding-left: 105px;
    padding-right: 20px;
    position: relative;
    overflow: hidden
}

.tu-musica .content > nav{
    position: absolute;
    left: 20px;
}

.tu-musica .wrapper-content{
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 0;
    border: 2px solid #dcdcdd;
    padding: 18px 20px;
    margin-left: 150px;
    position: relative;
}

.tu-musica .content nav{

}

.tu-musica .content nav ul{
    padding-right: 5px;
}

.tu-musica .content nav a{
    color: #828185;
    display: block;
    padding: 0 20px 0 35px;
    font-size: 12px;
    line-height: 30px;
    font-weight: lighter;
    position: relative;
    border-left: 3px solid #ccc;
    margin-bottom: 2px;
}

.tu-musica .content nav a span{
    background: url("./assets/icons_tu-musica.png") no-repeat top left;
    display: inline-block;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 8px;
    top: 0px;
}


.tu-musica .content nav a.albumes:hover span,
.tu-musica .content nav a.albumes.active span{
    background-position: -24px 0;
}

.tu-musica .content nav a.diseno span{
    background-position: 0 -30px;
}

.tu-musica .content nav a.diseno:hover span,
.tu-musica .content nav a.diseno.active span{
    background-position: -24px -30px;
}

.tu-musica .content nav a:hover,
.tu-musica .content nav a.active{
    color: #fff;
    background-color: #ff7400;
    border-color: #ff7400;
}


/* Album List */

.tu-musica .content .album-list{
    margin-left: 40px;
    margin-top: 115px;
    float: left;
}

.tu-musica .content .album-list > ul{
	width: 109px;
	position: relative;
	z-index: 10;
	left: 3px;
}

.tu-musica .content .album-list .drag-section{
    width: 11px;
    height: 74px;
    display: block;
    background: url("./assets/drag-section.jpg") no-repeat top left;
    position: absolute;
}

.tu-musica .content .album-list li{
    position: relative;
    margin-bottom: 15px;
    padding: 10px 0 10px 8px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tu-musica .content .album-list li a{
    display: inline-block;
    margin-left: 10px;
    cursor: move;
}

.tu-musica .content .album-list li.active{
    border: 2px solid #dcdcdd;
    border-right: 0;
    background: #fff;
}


/* .form-rightulario */

.tu-musica .content form{
    overflow: auto
}

.tu-musica .content form ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
.tu-musica .content form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
.tu-musica .content form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
.tu-musica .content form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.tu-musica .content .form-right .left-fields .cargar-imagen{
    width: 107px;
    height: 100px;
    position: absolute;
    top: -2px;
    left: -109px;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #dcdcdd;
    border-right: 0;
}

.tu-musica .content .form-right .left-fields .cargar-imagen p{
    position: relative;
    margin-top: 13px;
    margin-left: 7px;
}


.tu-musica .content .form-right .left-fields .cargar-imagen label{
    display: block;
    width: 72px;
    height: 72px;
    border: 1px solid #ccc;
    overflow: hidden;
    text-indent: -200px;
    margin-left: 11px;
    cursor: pointer;
}

.tu-musica .content .form-right .left-fields .cargar-imagen img{
    display: block;
    width: 100%;
    height: 100%;
}

.tu-musica .content .form-right .left-fields .cargar-imagen input{
    display: none !important;
}

.tu-musica .content .form-right .left-fields .principal-data{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #908c8a;
}

.tu-musica .content .form-right .left-fields .cargar-cancion li{
    margin-bottom: 8px;
    padding-left: 18px;
    line-height: 40px;
    background: url("./assets/drag-section.jpg") no-repeat -1px -16px;
    cursor: pointer;
}

.tu-musica .content .form-right .left-fields .cargar-cancion li,
.tu-musica .content .form-right .left-fields .cargar-cancion a{
    color: #959499;
    font-size: 12px;
    display: block;
}

.tu-musica .content .form-right .left-fields{
    float: left;
    margin-right: 35px;
    width: 200px;
}

.tu-musica .content .form-right .left-fields input{
    border: none !important;
    padding: 0 !important;
    width: 90% !important;
    display: block;
    border-bottom: 2px solid transparent !important;
    margin: 0 0 2px 0;
    padding-right: 20px !important;
    background: transparent;
}

    .tu-musica .content .form-right .left-fields input.album{
        font-size: 18px;
        font-weight: bold;
    }

    .tu-musica .content .form-right .left-fields input.artist{
        font-size: 13px;
        font-weight: lighter;
        line-height: 18px;
        font-style: italic;
    }

    .tu-musica .content .form-right .left-fields input.year{
        font-size: 11px;
        line-height: 16px;
    }

.tu-musica .content .form-right .left-fields input:focus{
    border-color: #eee;
    background: url("./assets/icon-edit-pen.jpg") no-repeat center right;
}

.tu-musica .content .form-right .right-fields{
    width: 340px;
    float: right;
    margin-top: 8px;
}

.tu-musica .content .form-right .row{
    border-bottom: 3px solid #ffead8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.tu-musica .content .form-right .row:last-of-type{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tu-musica .content .form-right .row p{
    margin-bottom: 10px;
}

.tu-musica .content .form-right label{
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    margin-bottom: 3px;
}

.tu-musica .content .form-right .checkbox-container label{
    line-height: 21px;
    margin-left: 10px;
}

.tu-musica .content .form-right textarea,
.tu-musica .content .form-right input[type="text"]{
    width: 97%;
    border: 2px solid #eee;
    padding: 3px;
}

.tu-musica .content .form-right textarea{
    height: 80px;
}

.tu-musica .content .form-right .suggested-price label,
.tu-musica .content .form-right .suggested-price input{
    display: inline-block;
}

.tu-musica .content .form-right .suggested-price input[type="number"]{
    width: 30px;
}

.tu-musica .content .form-right .suggested-price input[type="checkbox"]{
    width: auto;
}

.tu-musica .content .form-right .actions{
    clear:both;
    color: #828185;
    font-size: 12px;
}

.tu-musica .content .form-right .actions input[type="submit"]{
    background: #bebfc4;
    padding: 5px 20px;
    color: #fff;
    text-trans.form-right: lowercase;
    border: none;
    cursor: pointer;
}

.tu-musica .content .form-right .actions input[type="submit"]:hover {
    background: #ff7400;
}

.tu-musica .content .form-right .actions label{
    display: inline-block;
}

.tu-musica .content .form-right .actions input[type="checkbox"]{
    position: relative;
    top: -1px;
}

.tu-musica .delete{
    width: 18px;
    height: 21px;
    display: block;
    background: url("./assets/icon-eliminar.png") no-repeat top left;
    overflow: hidden;
    text-indent: -100px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.tu-musica .content .subir-cancion{
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    width: 340px;
    bottom: 0;
    padding: 25px 20px 10px 10px;
    z-index: 10;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.tu-musica .content .subir-cancion .row{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tu-musica .content .subir-cancion .nombre-cancion{
    position: absolute;
    left: -247px;
    top: 120px;
    width: 251px;
    color: #959499;
    font-size: 12px;
    height: 40px;
    background: #fff url("./assets/drag-section.jpg") no-repeat 20px -16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.tu-musica .content .subir-cancion .nombre-cancion input{
    border: none !important;
    padding: 0 !important;
    display: block;
    border-bottom: 2px solid transparent !important;
    margin: 10px 0px 2px 38px;
    padding-right: 20px !important;
    background: transparent;
    line-height: 20px;
    width: 185px;
}

.tu-musica .content .subir-cancion .nombre-cancion input:focus{
    border-color: #eee !important;
    background: url("./assets/icon-edit-pen.jpg") no-repeat center right;
}

.tu-musica #dimmer{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}





/* ESTADO OFF */

section.content.off .wrapper-content{
    background: #f3f3f4;
}

.tu-musica section.content.off .wrapper-content .form-right .left-fields .cargar-imagen{
    background: #f3f3f4;
}

section.content.off .cargar-cancion{
    margin-top: 68px;
}

section.content.off .album-list li.active{
    background: #f3f3f4;
}


/* Popup TU MUSICA */

.tu-musica .popup.subi-tu-musica{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 900px;
    margin-left: -450px;
    height: 190px;
    margin-top: -80px;
    background: rgba(90,90,90,.75);
    z-index: 1000;
    color: #fff;
    font-size: 90px;
    font-family: 'grotesk-light-condensed';
    line-height: 190px;
    text-align: center;
    text-transform: uppercase;
}


.tu-musica .popup.formatos{
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(90,90,90,.75);
    color: #fff;
    font-family: 'grotesk-regular';
    z-index: 1000;
    padding: 75px;
}


.tu-musica .popup.formatos h3{
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    font-family: 'grotesk-light-condensed';
    margin-bottom: 70px;
}

.tu-musica .popup.formatos ol{
    width: 580px;
    margin: 0 auto;
}

.tu-musica .popup.formatos li{
    vertical-align: middle;
    margin-bottom: 15px;
}

.tu-musica .popup.formatos li p,
.tu-musica .popup.formatos li img{
    display: inline-block;
    vertical-align: middle;
}

.tu-musica .popup.formatos li p{
    width: 200px;
    margin-left: 20px;
}

.tu-musica .popup.formatos .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    font-family: 'grotesk-light-condensed';
}

.tu-musica .popup.formatos .ayuda{
    font-size: 24px;
    color: #fff;
    font-family: 'grotesk-light-condensed';
    float: right;
    margin-top: 15px;
    margin-right: 110px;
}

